.pokemon-list-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  padding: 16px 16px 16px 32px;
}

.app-container {
  background: #0088e0;
  background: linear-gradient(0deg, #58d0ee, #60e5ec);
}

.app-header {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
